body {
    background: #f1f1f1;
    width:100%;
    height:1000px;
}

#content {
    width: 90%;
    min-height: 700px;
    padding: 50px 40px 40px;
    margin: 0 auto;
    border: solid 1px #ccc;
    background: #fff;
}

#group1 {
    height: 40px;
    margin-bottom: 45px;
}

#group2 {
    height: 40px;
}

#source {
    height: 40px;
    width: 310px;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 5px;
}



/*input.btn {
    width: 60px;
    height: 40px;
    margin-left: 18px;
    background: #f8f8f8;
    border: solid 1px #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}*/

input.upload {
    width: 80px;
}

#group2 label {
    margin: 10px 25px 0 0;
}

#group2 input[type='radio'] {
    height: 18px;
    width: 18px;
    vertical-align: sub;
}

#dwtcontrolContainer {
    max-width:60%;
    max-height: 70%;
    border: solid 1px #ccc;
    margin-top:20px;
}

#dwtThumbnailsContainer{
    float: left;
    margin-top:20px;
}

.dwtSettings{
    float:right;
    margin-top:20px;
    border: solid 1px #ccc;
    max-width:30%;
    max-height: 70%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}