
body{

	border: 0 none;
	font-size: 13px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	/*overflow-x: hidden;*/

}
.page{
	margin-top: 50px;
}

.margin-left-50{
	margin-left: 50px!important;
}
.nav{
	border:0;
	border-radius:0;
	margin:0;
	min-height: 50px;
}
.divide-20{
	height: 20px;
	width: 100%;
}
/*导航栏内下拉菜单*/
.dropdown-menu li a{
	background: #f4f4f4;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #E7E7E7;
	display: block;
	line-height: 40px;
	padding: 0 10px;
}
/*导航栏内左侧导航折叠*/
.sidebar-collapse,.switcher{
	padding:10px 10px 0 0;
	position:absolute;
	top:10px;
	left:10px;
	padding:6px 8px;
}
#main-content{
	margin-left: 250px;
}

.open >a{
	outline: 0;
}
/*左侧导航栏*/
#sidebar *{
	/*text-overflow: ellipsis;/!*当文本元素溢出时，以省略后显示剩余的文本*!/*/
}
#sidebar{

	padding: 0!important;
	width: 250px;
	position: fixed;
	/*z-index: 1040;*/
    /*overflow-y: auto;*/
    min-height: 600px;
}

.title-logo{
	color: white;
	margin-left: 45px;
}

#search-bar{
	display: block;
	text-align: center;
	padding: 8px 10px;
	/*width: 90%;*/
	/*margin: 0 auto 10px;*/
	/*//padding-right: 30px !important;优于正常的CSS规则*/
}
#search-bar .search-icon{
	display: block;
	font-size: 14px;
	line-height: 1;
	position: absolute;
	right: 22px;
	top:35px;
	color: #888888;
}
/*左侧导航栏列表*/
.sidebar-menu >ul{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

/*左侧导航栏列表项*/
ul#leftcontent >li{
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
}

/*左侧导航栏列表项链接*/
ul#leftcontent >li >a{
	display: block;
	position: relative;
	margin: 0;
	border: 0 none;
	padding: 15px 15px 15px 20px;
	text-decoration:none;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
/*左侧导航栏列表项icon*/
ul#leftcontent >li >a i{
	font-size: 16px;
	margin-left: 5px;
}
li[class^="has-sub"]>a i.arrow{
	font-size: 16px;
	margin-left: 5px;
	float: right;
}
/*左侧导航栏，有下级菜单的li*/
li[class^='has-sub']{
	position: relative;
}
ul[class^="sub"]>li{
    position: relative;
}
/*左侧导航栏，列表项的下级列表*/
ul[class^="sub"]{
	display: none;
	list-style: none;
	clear: both;
	padding-left: 25px;
	position: relative;
}
ul[class^="sub"]:before{
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: dotted;
	border-width: 0 0 0 1px;
	bottom: 0;
	content: "";
	display: block;
	position: absolute;
	top:0;
	z-index: 1;
}
ul[class^="sub"]>li:before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	margin: 5% 0 0;
}

ul[class^="sub"]>li>a{
	display: block;
	margin: 0px;
	padding: 5px 0px;
	padding-left: 30px !important;
	text-decoration: none;
	font-size: 13px;
	font-weight: 300;
	background: none;

}
ul[class^="sub"]>li>a{
	margin-left: 0px;
	padding-left: 5px;
	font-size: 13px;
	font-weight: 400;
}
ul[class^="sub"]>li{
	background: none;
	margin: 0;
	padding: 0;
	margin-top: 1px !important;
}

ul[class^="sub"]>li>a{
	height: 30px;
}
ul[class^="sub"]>li:first-child>a{
	border-top:0px !important;
}
ul[class^="sub-sub"]{
	display: none;
	list-style: none;
	clear: both;/*在左右两侧均不允许浮动元素*/
}

li[class^="has-sub"]>a i.arrow:before,
li[class^="has-sub"]>a i.arrow.open:before,{
	float: right;
	margin-top: 1px;
	margin-right: 5px;
	display: inline;
	font-family: FontAwesome;
	height: auto;
	font-size: 16px;
	font-weight: 300;
	text-shadow: none;
}


/*左侧导航栏收缩按钮*/
/*.switcher>[class*="fa-"],*/
.sidebar-collapse >[class*="fa-"]{/*包含fa*/
	cursor: pointer;
	display: inline-block;
	padding: 0 5px;
	position: relative;
	float: right;
}
/*小的搜索icon*/
.mini-menu .sidebar-menu #search-bar .search-icon{
	display: block;
	font-size: 14px;
	line-height: 1;
	position: absolute;
	right: 22px;
	top:35px;
}
/*小的以及菜单链接字体*/
li.has-sub.mini-menu>a>.menu-text{
	display: none;
	height: 50px;
	left: 50px;
	line-height: 38px;
	padding-left: 12px;
	position: absolute;
	top: 0;
	width: 174px;
	padding: 5px 0 0 15px;
	z-index: 121;

}
/*小的二级菜单*/
ul.sub.mini-menu{
	display: none!important;
	left: 50px;
	padding-bottom: 2px;
	padding-top: 50px;
	position: absolute;
	top:0;
	width: 176px;
	z-index: 120;/*属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。*/
}
.mini-menu#sidebar{
	width: 50px;
}
.mini-menu .sidebar-menu #search-bar{
	display: block;
	text-align: center;
}
.mini-menu .sidebar-menu #search-bar input{
	padding: 8px 10px;

}

li.has-sub.mini-menu> a i.arrow.open:before{
	display: none;
}
li.has-sub.mini-menu> a i.arrow:before{
	display: none;
}
li.has-sub.mini-menu:hover > a > .menu-text {
	display: block!important;
    /*position: fixed;*/
}
li.has-sub.mini-menu:hover>ul.mini-menu{
	display: block !important;
    /*position: fixed;*/
}
