body{
	background: none repeat scroll 0 0 #f4f4f4;
	/*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #555555;

}
.page{
	background:none repeat scroll 0 0 #f4f4f4;
}

/*导航栏*/
.nav{
	background: #5e87b0;
}

/*导航栏内字体*/
.navbar-default .navbar-nav>li>a{
	color: white;
}
/*导航栏内下拉菜单*/
.dropdown-menu li a{
	background: #f4f4f4;
}
/*导航栏内左侧导航折叠*/
.sidebar-collapse,.switcher{
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	color:#fff;
}
/*左侧导航栏*/
#sidebar{
	background: none repeat scroll 0 0 #f4f4f4;
	/*border-bottom: 1px solid #e7e7e7;*/
	border-right: 1px solid #B1AAAA;
}
/*左侧导航栏列表*/
ul#leftcontent{
	/*border-bottom: 1px solid #FFFFFF !important;*/
	border-top: 1px solid #FFFFFF !important;
}
/*左侧导航栏列表项*/
ul#leftcontent >li >a{
	border-bottom: 1px solid #ffffff !important;
	border-top: 1px solid #e7e7e7 !important;
	color: #555555 !important;
}
/*左侧导航栏列表项icon*/
ul#leftcontent >li >a i{

	color: #555555 ;
}

ul[class^="sub"]{
	background: #e7e7e7;
	border-top: 1px solid #e7e7e7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
ul[class^="sub"]:before{
	border-color: #3B3B3B;
}
li[class^="has-sub-sub"]:before{
	border-top: 1px dotted #3b3b3b;
}
ul[class^="sub"]>li:before{
	border-top: 1px dotted #3b3b3b;
}
/*左侧导航栏二级菜单链接*/
li[class^="has-sub-sub"]>a{
	color: #555555;
}
ul[class^="sub"]>li>a{
	color: #555555;
}
ul[class^="sub-sub"]{
	background: #E7E7E7;
	border-top: 1px solid #e7e7e7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;/*insert将外部阴影改为内部阴影*/
}

/*左侧导航栏 一级菜单打开
左侧导航栏一级菜单，鼠标滑过*/
ul#leftcontent >li.has-sub.open>a,
ul#leftcontent >li >a:hover,
ul#leftcontent >li:hover >a{
	background: #FFFFFF;
}

li[class^="has-sub-sub"]:hover{
	background: #F6F6F6;
}
/*左侧导航栏一级菜单方向icon的before，以及打开时的before*/
ul#leftcontent>li>a i.arrow:before,
ul#leftcontent>li>a i.arrow.open:before{
	color: #555555 !important;
}

/*处理左侧导航栏缩小*/

/*左侧导航栏收缩按钮*/
/*.switcher>[class*="fa-"],*/
.sidebar-collapse >[class*="fa-"]{/*包含fa*/
	color: #FFFFFF;
}
/*小的搜索icon*/
.mini-menu .sidebar-menu #search-bar .search-icon{
	color: #888888;
}
/*小的以及菜单链接字体*/
li.has-sub.mini-menu>a>.menu-text{
	background: #F4F4F4;
	border: 1px solid #CECECE;
}

ul.sub.mini-menu{
	background-color:#E7E7E7 ;
	border: 1px solid #CECECE;
	border-top: 1px solid #E7E7E7;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}
