body{
	background: none repeat scroll 0 0 #77796B;
	/*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #555555;
	
}
.page{
	background:none repeat scroll 0 0 #77796B;
}
.menu-text{
	color: white;
}
.sub-menu-text{
	color: white;
}
.sub-sub-menu-text{
	color: white;
}
/*导航栏*/
.nav{
	background: none repeat scroll 0 0 #424242;
}

/*导航栏内字体*/
.navbar-default .navbar-nav>li>a{
	color: white;
}
/*导航栏内字体*/
.navbar-default .navbar-nav>li:hover>a{
	color: white;
	background: #77796B;
}
/*导航栏内下拉菜单*/
.dropdown-menu li a{
	background: #f4f4f4;
}
/*导航栏内左侧导航折叠*/
.sidebar-collapse,.switcher{
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	color:#fff;
}
/*左侧导航栏*/
#sidebar{
	background: none repeat scroll 0 0 #77796B;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
}
/*左侧导航栏列表*/
.sidebar-menu >ul{
	border-bottom: 1px solid #666666 !important;
	border-top: 1px solid #666666 !important;
}
/*左侧导航栏列表项*/
.sidebar-menu >ul >li >a{
	border-bottom: 1px solid #e7e7e7 !important;
	border-top: 1px solid #e7e7e7 !important;
	color: #555555 !important;
}
/*左侧导航栏列表项icon*/
.sidebar-menu >ul >li >a i{
	
	color: #555555 ;
}
/*左侧导航栏，有下级菜单的li的ul*/
ul[class^="sub"]{
	background: #77796B;
	border-top: 1px solid #e7e7e7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
/*左侧导航栏，二级菜单的before*/
ul[class^="sub"]:before{
	border-color: #3B3B3B;
}
/*左侧导航栏，二级菜单的选项的before*/
li[class^="has-sub-sub"]:before{
	border-top: 1px dotted #3b3b3b;
}

/*左侧导航栏二级菜单链接*/
li[class^="has-sub-sub"] >a{
	color: #555555;
}

/*左侧导航栏 一级菜单打开
左侧导航栏一级菜单，鼠标滑过*/
.sidebar-menu >ul >li.has-sub.open>a,
.sidebar-menu >ul >li >a:hover,
.sidebar-menu >ul >li:hover >a{
	background: #FFFFFF;
}
/*左侧导航栏 一级菜单打开
左侧导航栏一级菜单，鼠标滑过*/
.sidebar-menu >ul >li.has-sub.open>a .menu-text,
.sidebar-menu >ul >li >a:hover .menu-text,
.sidebar-menu >ul >li:hover >a .menu-text{
	color: #000000;
}
/*左侧导航栏二级菜单滑过
左侧导航栏三级菜单滑过*/
li[class^="has-sub-sub"]:hover{
	background: #F6F6F6;
}
/*左侧导航栏二级菜单滑过
左侧导航栏三级菜单滑过*/
li[class^="has-sub-sub"]:hover>a >span.sub-menu-text{
	color: #000000;
}
/*左侧导航栏一级菜单方向icon的before，以及打开时的before*/
.sidebar-menu >ul>li>a i.arrow:before,
.sidebar-menu >ul>li>a i.arrow.open:before{
	color: #555555 !important;
}

/*处理左侧导航栏缩小*/

/*左侧导航栏收缩按钮*/
/*.switcher>[class*="fa-"],*/
.sidebar-collapse >[class*="fa-"]{/*包含fa*/
	color: #FFFFFF;
}
/*小的搜索icon*/
.mini-menu .sidebar-menu #search-bar .search-icon{
	color: #888888;
}
/*小的以及菜单链接字体*/
li.has-sub.mini-menu>a>.menu-text{
	background: #77796B;
	border: 1px solid #CECECE;
}
/*小的二级菜单*/
ul.sub.mini-menu{
	background-color:#77796B ;
	border: 1px solid #CECECE;
	border-top: 1px solid #E7E7E7;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}
